services:
  redis:
    image: redis:7-alpine
    container_name: ff-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  db:
    image: mariadb:11
    container_name: ff-db
    env_file:
      - .env.docker
    ports:
      - "3306:3306"
    volumes:
      - ff_db_data:/var/lib/mysql
      - ./fix_auth.sql:/docker-entrypoint-initdb.d/01_fix_auth.sql:ro
    environment:
      - MARIADB_DATABASE=feature_flags
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin ping -h 127.0.0.1 -u root -p$$MARIADB_ROOT_PASSWORD"]
      interval: 5s
      timeout: 5s
      retries: 30

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: ff-phpmyadmin
    env_file:
      - .env.docker
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  api:
    build: .
    container_name: ff-api
    env_file:
      - .env.docker


    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/healthz').read()"
        ]
      interval: 10s
      timeout: 5s
      retries: 20

volumes:
  ff_db_data:
